doctype html
html
    head
        title My Meal Plan #{name}
    body
        h1= name
        each recipe in recipeNames
            div
                h2= recipe.name
                p= recipe.image
                p= recipe.source
                p= recipe.url
