doctype html
head
    meta(charset='utf-8')
    |
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |
    title EasyPeasy - Meal Planning App
    |
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    |
    link(href='https://use.fontawesome.com/releases/v5.0.6/css/all.css', rel='stylesheet')
    |
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    |
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    |
    link(href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css', rel='stylesheet')
    |
    link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')
    |
    link(href='https://fonts.googleapis.com/css?family=Lato:300|Pacifico', rel='stylesheet')
|
body
    .nav
        a(href='/index.html')
            i.fas.fa-home.fa-2x(style='color:#63a369')
    |
    header(role='banner')
    |
    a#backtomp(href='/mealPlan/view/' + mealPlan._id) Back to Meal Plan
    |
    h1.sl This week's Shopping List (#{mealPlan.name})
    //h1 Shopping List for Meal Plan starting on
    |
    form#shopping-list-add
      input#shoppinglistid(type='hidden', value= _id)
      |
      label.additem(for='entry') Add other items to list
      |
      input#entry.shoppingList-entry(type='text', name='shopping-list-entry', placeholder='milk, cereal, apples, etc.' required='')
      |
      button#additembtn Add item
    |
    .shopping-list
      ul.my-added-items
        each item, index in additionalItemNames
            li.sli
              span.non_edit
                input.check(type='checkbox')
                label.new(id=item) #{item}
                //input.sli-item(type='text', hidden='')
              |
              span.edit
                input.textedit(type='text', value= item)
                button.editsubmitbtn1(data-key=index) Submit
              |
              .editbtn1 edit
              |
              i.fa.fa-trash.del1
      |
      ul.shopping-list-items
        each item, index in itemNames
            li.sli
              span.non_edit
                input.check(type='checkbox')
                label.new(id=item) #{item}
                //input.sli-item(type='text', hidden='')
              |
              span.edit
                input.textedit(type='text', value= item)
                button.editsubmitbtn2(data-key=index) Submit
              |
              .editbtn2 edit
              |
              i.fa.fa-trash.del2
    |
    script(src='/javascripts/client.js')
